{% extends "layout.html" %}
{% block content %}
{% for p in ps%}
{% for post in posts%}
 {%if p.id == post.id %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics2/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('user_posts', name=post.author.name) }}">Dr:{{ post.author.name }}  {{ post.author.firstname }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d,%H:%M') }}</small>
    </div>
    <div>
    <div><h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2></div>
    <div class="media">
    <img  src="{{ url_for('static', filename='post_pics2/' + post.image_post) }}">
  </div>
   <div> <p class="article-content">{{ post.content }}</p></div>
  </div>
 
</article>
    {% endif %}
    {% endfor %}
    {% endfor %}
{% endblock content %}